# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug-lock*

# Temp
*.bak
.tsbuildinfo

# SSH
.ssh/
